# The JWT provided when creating a Pinata API key
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI0YWIzOWQzYS1mMzJjLTRjOGItOTNiOS00ZWI3ZTJkZDRmYTAiLCJlbWFpbCI6ImRydXhhbWJtYXJrZXRpbmdAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjViNDM5NzQ5OThlNzZjMTMyNjk2Iiwic2NvcGVkS2V5U2VjcmV0IjoiOGQ2YTA3MDkxMDdkNDIwZWZjNTQ0ODk3MDg0ZTk1NWZmODU5NWM2ZDNkMjk2NWRmNjg2Njc3OTRjNTU1ZDVlYiIsImlhdCI6MTcxODkwMDUwOH0.vU4t-kKI1iUvYAW6UdycvTKIpGxWSR1Hq2qVQg6eRe4
# The mnemonic phrase for your Farcaster App account, e.g. "taco salsa burgers fries..."
DEVELOPER_MNEMONIC=""
# The FID for your Farcaster App account
DEVELOPER_FID=
